<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<%= render 'head' %>
		<link rel="stylesheet" type="text/css" href="/styles/letortedichiara.css" />
	</head>

	<body>

		<%= render 'logo' %>

		<%= render 'menu' %>

		<!-- CONTENT -->

		<div class="contentBox">
			<div class="innerBox">
				<div class="contentTitle"><%= @item[:title] %></div>
				<div class="contentText" style="font-style:oblique; font-size:20px">
					<%= yield	%>
					</div>
			</div>
		</div>

		<%= render 'footer' %>

		<%= render 'analytics' %>

	</body>

</html>
