<ul id="navigation-1">
	<li><a href="<%= @config[:site_root] %>" title="Home">Home</a></li>
	<li><a href="<%= @config[:site_root] %>me/" title="Un po' di me">Un po' di me</a>
	<ul class="navigation-2">
		<li><a href="<%= @config[:site_root] %>diconodime/" title="Cose dicono di me">Dicono di me</a></li>
	</ul>
	</li>
	<li><a href="<%= @config[:site_root] %>" title="Le Gallerie delle mie Creazioni">Le mie Creazioni</a>
	<ul class="navigation-2">
		<li><a href="<%= @config[:site_root] %>allestimenti/" title="Galleria degli allestimenti">Allestimenti</a></li>
		<li><a href="<%= @config[:site_root] %>biscotti_e_mini_cakes/" title="Mini e Mignon Cakes Gellary">Biscotti e Minicakes</a></li>
		<li><a href="<%= @config[:site_root] %>eventi/" title="Galleria Torte per Eventi">Torte Evento</a></li>
		<li><a href="<%= @config[:site_root] %>fashion/" title="Galleria di Torte Fashion">Torte Fashion</a></li>
		<li><a href="<%= @config[:site_root] %>wedding/" title="Wedding Cakes Gallery">Wedding Cakes</a></li>
	</ul>
	</li>
	<li><a href="<%= @config[:site_root] %>seguimi/" title="Seguimi sul web">Seguimi</a>
	<ul class="navigation-2">
		<li><a href="http://blog.letortedichiara.com" title="Blog de Le Torte di Chiara">Il mio Blog</a></li>
		<li><a href="http://www.facebook.com/letortedichiara" title="Facebook Fan Page">Facebook Fan Page</a></li>
		<li><a href="http://www.youtube.com/user/LeTorteDiChiara" title="YouTube Personal Channel">YouTube Channel</a></li>
	</ul>
	</li>
	<li><a href="<%= @config[:site_root] %>contatto/" title="Come contattarmi">Contattami</a></li>
</ul>
